<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobireward.merchant" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobiRewardmerchant</name>
    <description>
        Mobireward Merchant
    </description>
    <author email="parwej.ahamed@mishainfotech.com" href="http://mishainftech.com">
        Mishainfotech Team
    </author>
    <content src="index.html" />
    <access origin="*" />

</widget>
