<ion-view>
    <ion-header-bar class="bar-positive nav-title-slide-ios7">
        <a class="button icon-left ion-chevron-left button-clear bar-positive" ng-click="back()"></a>
        <h1 class="title">Promotions</h1>
    </ion-header-bar>
        <ion-content has-tabs="true">        
            <div class="list c-list" >

                <div class="" ng-repeat="p in promotions">
                    <div ng-if="p.IsCoupon == null || p.IsCoupon == undefined || p.IsCoupon == false">
                        <a class="item item-thumbnail-left" href="#/coupons/{{p.PromotionId}}">                     
                            <img src="{{domain}}UserFiles/Promotions/{{p.FilePath || 'nopic.jpg'}}">
                            <h2>{{p.PromotionTitle}}</h2>
                            <p>{{p.PromotionDescription}}</p>
                            <p><small>Date Expire - {{p.DateEnd | date: "dd-MMM-yy"}}</small></p>
                        </a> 
                    </div>         
                    <div ng-if="p.IsCoupon == true" >                            
                        <a class="item item-thumbnail-left" href="#/coupons-detail/{{p.CoupanDetails.CouponId}}">                     
                            <img src="{{domain}}UserFiles/Promotions/Coupons/{{p.CoupanDetails.CouponImageName || 'nopic.jpg'}}">
                            <h2>{{p.CoupanDetails.CouponTitle}}</h2>
                            <p>{{p.CoupanDetails.CouponDescription}}</p>
                            <p><small>Date Expire - {{p.CoupanDetails.DateEnd | date : 'dd-MMM-yy'}}</small></p>
                        </a> 
                    </div>
                </div>
                <div ng-show="promotions.length == 0" class="item padding">
                    <p>No promotions found!!!</p>
                </div>
                <div >                    
                    <a class="item item-thumbnail-left noborder" >                     
                    </a>                    
                </div>
            </div>
        </ion-content>
</ion-view>

