@model MobileReward.Models.UserProfile
@{
    ViewBag.Title = "Forget Password";
}

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="user_promotion_box">  
        <div class="promotions_box">              
        <h2><span>Reset password link sent on your registered email id. Please check your inbox and reset your password.
            </span>
        </h2>
            </div>

        <div class="clear">&nbsp;</div>        
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}