<ion-view >
    <ion-header-bar class="bar-positive nav-title-slide-ios7">
        <a class="button icon-left ion-chevron-left button-clear bar-positive" ng-click="logout()"></a>
        <h1 class="title">Merchant - Scan</h1>
    </ion-header-bar>
    <ion-content class="padding" has-header="true">
        <img src="image/logo.png">     
        <div class="list card">                                  
            <div class="item">
                <h4>Click on scan button to start scanning</h4>            
            </div>			
            <div class="item">
                <button class="button button-block button-positive" ng-click="scan()">
                    Scan
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>