<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    
  <add name="MobiRewardsEntities" connectionString="metadata=res://*/Model.MobiRwardsModel.csdl|res://*/Model.MobiRwardsModel.ssdl|res://*/Model.MobiRwardsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.18.157.106;initial catalog=MobiRewards;persist security info=True;user id=pahamad;password=pahamad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>