<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mobireward.user" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MobirewardUser</name>
    <description>
        Mobireward User
    </description>
    <author email="parwej.ahamed@mishainfotech.com" href="http://mishainfotech.com">
        Mishainfotech Team
    </author>
    <content src="index.html" />
    <access origin="*" />


</widget>
